<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%logger{36} - %msg%n</Pattern>
        </layout>
    </appender>


        <appender name="FILE"
                class="ch.qos.logback.core.rolling.RollingFileAppender">

                <file>D:/jtb/servers/jboss-eap-5.0/jboss-as/server/default/log/myproject-front.log</file>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

                        <!-- daily rollover -->
                        <!-- fileNamePattern>SOCLE_INST_ECI_MIDDLE_LOG_DIRECTORY/SOCLE_PROJET_LOG_APPENDER_FILE_NAME</fileNamePattern-->

                        <fileNamePattern>D:/jtb/servers/jboss-eap-5.0/jboss-as/server/default/log/myproject-front.%d{yyyy-MM-dd}.log</fileNamePattern>

                        <!-- keep 30 days' worth of history -->
                        <maxHistory>30</maxHistory>
                </rollingPolicy>

                <layout class="ch.qos.logback.classic.PatternLayout">
                        <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{32} - %msg%n</Pattern>
                </layout>
        </appender>

    <logger name="org.springframework.jdbc">
        <level value="DEBUG"/>
    </logger>



<root level="INFO">
        <appender-ref ref="CONSOLE" />
</root>
</configuration>


